<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRA Project</title>
    <link th:href="@{/CSS/Style.css}" rel="stylesheet" />
</head>

<body>

<body>   
	
	<div class="bgimg">
	  <div class="topleft">
	  <img th:src="@{images/ca-flag.jpg}"  style="width:100px;height:50px;" />
	  </div>
	  <div class="middle">
	    <h1>Your Form Has Been Submited</h1>
	  </div>
	  <div class="bottomleft">
	    <p>Created By Zarif Hasan</p>
	  </div>
	
	  <div class="buttonPosition">
	  <form action="/" method="GET">  
	  <button type = "submit" class="button button2" style = "background-color: #008CBA;">Return To Welcome Page</button>
	  </form>
	  </div>
	  
     </div>	
	

</body>
</html>